<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block meta %}
        {% include "SuluWebsiteBundle:Extension:seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "urls": urls|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
            "defaultLocale": app.request.locale
        } %}
    {% endblock %}

    {% block style %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <div id="app" class="container">
        <b-row>
            <header>
                {% block header %}
                    <b-nav>

                        <b-nav-item href="{{ sulu_content_root_path() }}">Homepage</b-nav-item>

                        {% for item in sulu_navigation_root_tree('main') %}

                            <b-nav-item href="{{ sulu_content_path(item.url) }}" title="{{ item.title }}">{{ item.title }}</b-nav-item>
                        {% endfor %}


                        <b-nav-form action="{{ path('sulu_search.website_search') }}" method="GET">
                            <label class="sr-only" for="navbar-search">Search</label>
                            <b-form-input aria-label="Input" name="q" type="text" id="navbar-search" class="form-control" placeholder="Search" />
                            <b-button type="submit">Go</b-button>
                        </b-nav-form>
                    </b-nav>
                {% endblock %}
            </header>
        </b-row>

        <b-row>
            <section id="content">

                    {% block content %}{% endblock %}
            </section>
        </b-row>

        <b-row>
            <aside>
                {% block aside %}{% endblock %}
            </aside>
        </b-row>

        <b-row>
            <footer>
                {% block footer %}
                    <p>Copyright {{ 'now'|date('Y') }} SULU</p>
                {% endblock %}
            </footer>
        </b-row>

    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
